.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

h2, p {
    margin: 10px;
      text-shadow: 2px 2px 5px rgb(255, 255, 0);

  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #420000;
  }
 
  ul li {
    float: left;
  }
 
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  ul li a:hover {
    background-color: #111111;
  }


body {
    margin: 0px;
    padding: 0px;
    background: radial-gradient(circle,rgba(255, 153, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-align: center;

}

table, th, td {
    border-style: dashed;
    text-align: center;
    margin: auto;
    padding: auto;
    
}
.box {
   background-color: rgb(181, 99, 204);
  width: 300px;
  border: 15px solid rgb(0, 0, 0);
  padding: auto;
  margin: auto;
  align-items: center;
  color: black;
}
