.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

h2, p {
    margin: 10px;
      text-shadow: 2px 2px 5px rgb(255, 255, 0);

  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #420000;
  }
 
  ul li {
    float: left;
  }
 
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  ul li a:hover {
    background-color: #111111;
  }


body {
    margin: 0px;
    padding: 0px;
    background: radial-gradient(circle,rgba(255, 153, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-align: center;

}

table, th, td {
    border-style: dashed;
    text-align: center;
    margin: auto;
    padding: auto;
    
}
.box {
   background-color: rgb(181, 99, 204);
  width: 300px;
  border: 15px solid rgb(0, 0, 0);
  padding: auto;
  margin: auto;
  align-items: center;
  color: black;
}

#searchBar {
      padding: 8px;
      width: 300px;
      margin-bottom: 10px;
    }
    .result-item {
      padding: 6px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      color:white
    }
    .result-item:hover {
      background-color: #f0f0f0;
      color: black;
    }
    .alert {
  padding: 20px;
  background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 100%);
  color: white;
  border-style: solid;
  border-color: black;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.container {
align-self: center;
}

.body{
        background: purple;
        color: #eee;
        font-family: "Impact", "Arial Black", sans-serif;
        text-shadow: 2px 2px 4px #000;
        margin: 0;
        padding: 0;
    }

    header {
        background: rgba(0, 0, 0, 0.75);
        padding: 30px;
        text-align: center;
        border-bottom: 4px solid #4a4aff;
    }

    h1 {
        font-size: 60px;
        color: #4a4aff;
        letter-spacing: 3px;
    }

    .content {
        max-width: 900px;
        margin: 30px auto;
        background: rgba(0,0,0,0.7);
        padding: 25px 40px;
        border: 2px solid #333;
        border-radius: 5px;
    }

    h2 {
        color: #b0b0ff;
        border-left: 5px solid #4a4aff;
        padding-left: 10px;
        font-size: 32px;
    }

    .gallery img {
        width: 250px;
        margin: 10px;
        border: 3px solid #4a4aff;
        border-radius: 5px;
        box-shadow: 0 0 10px #4a4aff;
    }

    footer {
        text-align: center;
        padding: 20px;
        font-size: 14px;
        color: #777;
    }